In [4]:
#question 1 
Sample_list= [2, 3, 6]
result=1 
for item in Sample_list:
    result *= item
print("Result =", result)

Result = 36

In [7]:
#question 2 
sample_list1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def get_last_element(item):
    return item[-1]

sorted_list = sorted(sample_list1, key=get_last_element)
print("Sorted List:", sorted_list)

Sorted List: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [11]:
#question 3 
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}
result={}
for key in d1:
    if key in d2:
        result[key] = d1[key] + d2[key]
    else:
        result[key] = d1[key]
        
for key in d2:
    if key not in d1:
     result[key] = d2[key]

print(result)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [13]:
#question 4 
n= int(input("n: "))
result_dict = {}
for i in range(1, n + 1):
    result_dict[i] = i * i
print(result_dict)

n: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [29]:
#question 5 

my_list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

sorted_list = sorted(my_list, key=lambda x: float(x[1]), reverse=True)

print(sorted_list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
#question 6 
user_set = set()
#1.
input_values = input("Enter the values for the set (comma-separated): ")
user_set = set(map(int, input_values.split(',')))
print("User-created set:", user_set)
#2.
for element in user_set:
    print(element)
#3
user_set.add(7)
user_set.add(8)
user_set.remove(2)